@model IEnumerable<MvcIdentity.Models.Comment>
@{
    Layout = null;
}
<div class="card mb-3">
    @Html.Image("~/images/slide_01.jpg", "topimg", new { @class="card-img-top"})
    <div class="card-body">
        <h4 class="card-title">@ViewBag.ArticleName</h4>
        @Html.ActionLink("≫コメントを追加","Create","Comments",new { ArticleId = @ViewBag.ArticleId }, new { @class = "btn btn-primary", role = "button" })
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Body)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
